@{
    ViewData["Title"] = "Artikli Graf";
}

<div class="row">
    <div class="col-lg-12">
        <div style="margin-top: 20px" class="bg-white text-dark p-3 mb-3 text-center shadow-lg">
            <partial name="_ArticleFilter" model="new ArticleShowRequest() { TopShow = true }" />
        </div>
    </div>

    <div class="col-lg-12" id="id_article_chart_div">

    </div>

    <div class="col-lg-12" id="id_article_list_div">

    </div>
</div>


@section Scripts{
    <script>

        /**
         * When the page is ready make it possible to click the filter button.
         */
        $(document).ready(function () {
            $("#confirmArticleFilter").click(function () {

                $.ajax({
                    url: "@Url.Action("Filter")",
                    method: "POST",
                    data: $("#articleFilter").serializeArray(),
                    success: OnSuccessSortResult
                });
            })
        });

        /**
        * When the sort button is clicked for the first time create the chart partial view.
        * On subsequent redraw it.
        */
        function OnSuccessSortResult(data) {

            var urlChart = "@Url.Action("Chart")";
            $("#id_article_chart_div").load(urlChart, function () {

                new Chart("id_article_chart",
                {
                    type: 'bar',
                    data:{
                        labels: data[1],
                        datasets: [{
                            data: data[0],
                            backgroundColor: 'rgb(255, 0, 0)',
                            borderColor: 'rgb(255, 0, 0)',
                            label: data[2]
                        }]
                    }
                });
            });

            var urlLsit = "@Url.Action("List")";
            $("#id_article_list_div").load(urlLsit, { "jsonString": data[3] })
        }

        /**
         * Remove value from sibling with equal class
         */
        $(".max").on('input', function() {
            $(this).siblings(".equal").val(null);
        });

        /**
         * Remove value from sibling with equal class
         */
        $(".min").on('input', function () {
            $(this).siblings(".equal").val(null);
        });

        /**
         * Remove value from siblings with min and max class
         */
        $(".equal").on('input', function () {
            $(this).siblings(".min").val(null);
            $(this).siblings(".max").val(null);
        });
    </script>
}
