@{
    ViewData["Title"] = "Artikli";
}

<div class="col-lg-3">
    <div style="margin-top: 20px" class="bg-white text-dark p-3 mb-3 text-center shadow-lg">
        <partial name="_ArticleFilter" model="new ArticleFilterRequest()" />
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#confirmArticleFilter").click(function () {

                $.ajax({
                    url: "@Url.Action("Filter")",
                    method: "POST",
                    data: $("#articleFilter").serializeArray(),
                    success: function (html) {
                        console.log("RADI!")
                        //$("#TableViewCar").html(html);
                    }
                });
            })
        });



    </script>
}
